//--------------------------------Header
#header_desc {
    background-color: $white;
    padding: 21px 131px;

    //-----------------Header Left
    .header_left_d {
        display: flex;
        justify-content: space-between;

        //Navigation menu button on Header for Desktop 
        .head_nav_menu {
            width: 8rem;
            height: 3rem;
            color: $white;
            @extend .h2_size_small;
            background-color: $orange_dark;
            border-radius: 10px;
            border: 1px solid transparent;
        }

        // Header Logo
        .head_logo {
            object-fit: contain;
            width: 78px;
        }
    }

    //---------------------Header Center -->
    .header_center_d {

        //  Header Center Input  for Desktop -->
        .input_header_d {
            width: 35rem;
            padding: 15px;
            @extend .h5_size_big;
            border-radius: 30px;
            border: 1px solid $grey_ultra_light;
        }

        // Search İcon for İnput -->
        .search_icon_header_d {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            padding: 7px 11px;
            background-color: $grey_ultra_light;
            margin: 10px -48px;

            .fa-search {
                color: $grey_dark;
            }
        }
    }

    //-----------------------------Header Right
    .header_right_d {
        display: flex;
        justify-content: space-around;

        .header_right_item {
            display: flex;
            align-items: center;
            margin-left: 2.1rem;
            color: $grey_dark;
            @extend .h4_size_medium;

            // Header Right Icons Common Properties
            .hr_icon {
                margin-right: 10px;

            }

            //Shopping Bag on Header Right  for Desktop
            // .fa-bag-shopping {


            // }


        }

    }
}

// ----------------------------------Main
#main_d {
    background-color: $main_bckground;

    //----------Main Left
    .main_left {
        display: flex;
        flex-direction: column;

        // Main left Navigation 
        .main_left_nav {
            padding: 30px;

            // Main left Navigation Items
            .ml_nav_item {
                margin-right: 6px;
                text-align: center;

                .nav_item {
                    @extend .h6_size_medium;

                }
            }
        }

        // Main left Header
        .main_left_header {
            background-color: $white;
            padding: 20px 20px 49px 20px;

            // Header Product Images on Main left
            .main_left_header_images {


                // Header Product Big Image
                .big-image {
                    width: 283px;
                    object-fit: cover;
                }

                // Header Product Slider from Small Images
                .small-images-slider {

                    // Slider Image for Header Product
                    .small-img {
                        width: 60px;
                        height: 60px;
                        border-radius: 10px;
                        border: 1px solid #EDEDED;
                        padding: 10px;

                        .playImage {
                            transform: translate(6px, 4px);
                        }
                    }
                }
            }

            // Header Product Properties on Main left
            .main_left_header_property {
padding: 20px 19px 0px 0px;
                // Header property Title on Main left
                .mlh_property_title {
                    @extend .h1_size_medium;
                    color: $black;
                }


                // Header property SubTitle on Main left
                .mlh_property_subtitle {
                    position: relative;
                    bottom: 18px;

                    // Header property SubTitle Barcode   
                    .mlh-property-subtt-barcode {
                        font-family: " Roboto";
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 16px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: $grey_light;
                    }

                    // Header property SubTitle Rating 
                    .mlh-property-subtt-rating {
                        margin-left: 20px;
                        transform: translateY(-3px);

                        .mlh-property-subtt-rating-score {

                            &:first-child {
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 18.58px;

                                span {
                                    font-weight: 300;
                                }
                            }

                        }
                    }

                }

                // Header property Content on Main left
                .mlh_property_content {
                    color: $black;
                    @extend .h6_size_big;
                    letter-spacing: 0em;
                    text-align: justify;
                    padding-bottom: 26px;
                }

                //Header property Features on Main left for Desktop
                .mlh_property_features{

                    .features_item{
                        @include simple_border;
                        @extend .h6_size_smallest;
                    }
                }




            }

        }
    }




    // ----------Main Right
}