// Text ,Icon, Content Colors
$main_bckground:#E5E5E5;
$grey_dark:#343F56;
$grey_medium: #95979C;
$grey_light: #ADADAD;
$grey_ultra_light:#EBECEF;
$orange_dark:#F58634;
$orange_light:#FB9300;
$white: #FFFFFF;
$black:#2D2D2D;
$red:#E80000;
$yellow: #FDD835;
$green:#009E36;


// Content Size Adjust

// size:20px, weight:700, line-height:26.04px, DM Sans
.h1_size_big {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26.04px;
}

// size:24px weight:500 line-height:31.84px Roboto
.h1_size_medium {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 31.84px;

}

// size:24px weight:500 line-height:28.13px Roboto
.h1_size_small {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28.13px;
  
}

// size:18px weight:300 line-height:23.88px Roboto
.h2_size_big {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 23.88px;
    
}

// size:16px weight:500 line-height:27.2px Roboto
.h2_size_medium {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 27.2px;
}

// size:16px weight:500 line-height:20.83px DM Sans
.h2_size_small {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.83px;
}

// size:16px weight:400 line-height:18.75px Roboto
.h3_size_big {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
}

// size:16px weight:300 line-height:18.75px Roboto
.h3_size_medium {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
}

// size:15px weight:400 line-height:21px DM Sans
.h3_size_small {
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
}
// size:14px weight:500 line-height:23.34px Roboto
.h4_size_big {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 23.34px;
}

// size:14px weight:500 line-height:18.23px DM Sans
.h4_size_medium {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18.23px;
}

// size:14px weight:400 line-height:23.8px Roboto
.h4_size_small {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.8px;
}

// size:14px weight:400 line-height:18.23px Sans
.h5_size_big {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.23px;
}

// size:14px weight:400 line-height:16.41px Roboto
.h5_size_medium {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
}

// size:14px weight:300 line-height:23.8px Roboto
.h5_size_small {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 23.8px;
}

// size:14px weight:300 line-height:23.34px Roboto
.h6_size_big {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 23.34px;
}

// size:12px weight:500(400) line-height:15.62px Sans
.h6_size_medium {
    font-family: 'DM Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.62px;
}

// size:12px weight:500 line-height:14.06px Roboto
.h6_size_small {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.06px;
}

// size:12px weight:400 line-height:14.42px Roboto
.h6_size_smallest {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.42px;
}