// Text ,Icon, Content Colors
$grey_dark:#343F56;
$grey_medium: #95979C;
$grey_light: #ADADAD;
$orange_dark:#F58634;
$orange_light:#FB9300;
$white: #FFFFFF;
$black:#2D2D2D;
$red:#E80000;
$yellow: #FDD835;
$green:#009E36;